
#header { 
    width: 100%;
    height: 100px;
}

#header-center {
    border: 1px solid white;
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

#nav {
    width: 220px;
    height: 100px;
    border: 0px solid white;
    float: right;
}

#name {
    background-color: #4aaaa5;
    border: 1px solid white;
    width: 260px;
    height: 100px;
    }
    
#name h2 {   
    font-size: 32px;
    color: #ffffff;
    font-family: 'Georgia' Times, Times New Roman, serif;
    text-align: center;
    position: relative;
}

#links {
    color: #777777;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 15%;
}

#links a {
    color: #cccc;
    text-decoration: none;
}

#links a:hover {
    color: red;
    font-size: 22px;
    text-decoration: underline;
}

#links a:active {
    color: blue;
    font-size: 22px;
    text-decoration: underline;
}

#main-background {
    background-image: url(../images/stoneybackground.jpg);
    background-size: cover;
    border-top: 4px solid #dddddd;
    width: 100%;
    height: 900px;
}
#content {
   border: 3px solid #dddddd;
   background-color: #ffffff;
    width: 960px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    top: 5%;
}

#content h2{
    font-family: 'Georgia' Times, Times New Roman, serif;
    font-size: 32px;
    color: #4aaaa5;
    position: relative;
    left: 3%;
}

#line {
    border-bottom: 3px solid #cccc;
    height: 1px;
    width: 880px;
    position: relative;
    left: 3%;
}

.grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    left: 3%;
}

#block1 {
    background-image: url(../images/celebration-craft-creative-949586.jpg);
    background-size: cover;
    border: #666666;
    width: 175px;
    height: 140px;
}

#block2 {
    background-image: url(../images/anniversary-beautiful-bloom-949582.jpg);
    background-size: cover;
    border: #666666;
    width: 175px;
    height: 140px;
}

#block3 {
    background-image: url(../images/bay-beach-black-949588.jpg);
    background-size: cover;
    border: #666666;
    width: 175px;
    height: 140px;
}

#block4 {
    background-image: url(../images/bright-celebration-explosion-949592.jpg);
    background-size: cover;
    border: #666666;
    width: 175px;
    height: 140px;
}

#block5 {
    background-image: url(../images/4k-wallpaper-architecture-background-1308624.jpg);
    background-size: cover;
    border: #666666;
    width: 175px;
    height: 140px;
}

#block6 {
    background-image: url(../images/art-artistic-background-1020315.jpg);
    background-size: cover;
    border: #666666;
    width: 175px;
    height: 140px;
}

.titles {
    background-color: #4aaaa5;
    width: 175px;
    height: 50px;
    position: relative;
    top: 40%;
}

h3 {
    color: #cccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}

#footer {
    width: 100%;
    height: 70px;
    background-color: #666666;
    position: relative;
    bottom: 0%;
}

#footer-trim {
    width: 100%;
    height: 8px;
    background-color: #4aaaa5;
    position: relative;
    top: 0%;
}

#copyright {
    color: #cccccc;
    text-align: center;
    position: relative;
    bottom: 0%;
    transform: translateY(+100%)
}